In [1]:
codes = {
    "tw":"Taiwan",
    "jp":"Japan",

}
print(codes)
print(codes["tw"])

{'tw': 'Taiwan', 'jp': 'Japan'}
Taiwan

In [2]:
n1,n2=(25.5,92.6)  #設定值
n1,n2              #顯示

(25.5, 92.6)

In [3]:
#set

nums={1,1,2,2,3,3}
nums

{1, 2, 3}

In [8]:
def add(n1,n2):
    return n1+n2
a=add(50,90),add(10,20)

print(a,add(n1=20,n2=90),type(a),a[1])

(140, 30) 110 <class 'tuple'> 30