In [1]:
n=56
m=57.8
name="robert"
is_true=True

print(n,m,name,is_true)

56 57.8 robert True

In [4]:
type(n),type(m),type(name),type(is_true)

(int, float, str, bool)

In [1]:
age=26
if age<18:
    print("not adult")
else:
    print("adult")

adult

In [3]:
age=16
print("未成年") if age<18 else print("成年")

未成年

In [6]:
def max(a, b):
    return a if a > b else b

print(max(9, 2))
print(max(3, 5))

9
5

In [10]:
for i in range(10,20,3):
    print(i)

10
13
16
19

In [13]:
for element in ['taiwan','japan','usa']:
    print(element)

taiwan
japan
usa